@media only screen and (max-width: 650px) {
    body {
        background-color: aqua;
    }
}

* {box-sizing: border-box;}

html, body {margin:0;padding:0;}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

.clearfix { clear: both; }

/* Header */

header {
    background: linear-gradient(45deg, blue, red);
    height: 100vh;
    position: relative;
}

header h1 {
    position: absolute;
    background-color: black;
    color: white;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main */

main {
    float: left;
    width: 70%;
    padding: 10px 25px;
}

/* Every Section */

section {
    margin-bottom: 5px;
}

section h2 {
    margin: 25px 0;
}

/* About Coding Club */

section.about-detail {
    max-width: 1400px;
    font-size: 22px;
}

/* Why should you code */

section.why-detail ul {
    margin: initial;
    list-style-type: square;
}

section.why-detail ul li {
    margin: initial;
    padding: initial;
}

section.why-detail table {
    text-align: center;
    border: 1px solid black;
    margin: auto;
}

section.why-detail thead, th {
    text-decoration: underline;
}

section.why-detail td {
    border: 1px solid black;
    padding: 10px;
}

/* How to get started */

section.how-detail p {
    font-size: 20px;
}

/* Aside */

aside {
    padding: 5px;
    float: right;
    margin: 10px 25px 0 0;
    box-shadow: 2px 1px 10px black;
    border-bottom-right-radius: 10px;
    width: 25%;
}

aside h3 {
    margin-left: 10px;
    margin-top: 0;
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

footer a {text-decoration: none;}

footer a:hover {text-decoration: underline;}